body {
    overflow: hidden;
    perspective: 300vh;
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    box-sizing: border-box;
}

// The flip container
#Z {
    width: 100%;
    height: 50vh;
    top: 50vh;
    z-index: 50;
    transform-origin: top;
    .t & {
        transition: 0.5s;
    }
    .u & {
        transform: rotateX(180deg);
    }

    .d & {
        transform: rotateX(0deg);
    }
}


// Cards

b {
    width: 100%;
    height: 50vh;
    background: url(mockpage.png);
    background-size: 100%;
    top: 0;
}

// Card A
#u {

}

// Card B
#d {

}

// Card C
#t {
    transform: rotateX(180deg);
}

// Card D
#x {
    top: 50vh;
}

//
// the overlays
//

// all overlays
i {
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    .t & {
        transition: 0.5s all ease-out;
    }
}

// Overlay A
#E {
    background: black;
    // z-index: 12;
    .u & {
        opacity: 0.5;
    }

    .d & {
        opacity: 0;
    }
}

// Overlay D
#H {
    background: black;
    // z-index: 22;
    .u & {
        opacity: 0;
    }

    .d & {
        opacity: 0.5;
    }
}

// Overlay C
#G {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1));
    // z-index: 42;
    .u & {
        opacity: 0.5;
    }

    .d & {
        opacity: 0;
    }
}

// Overlay B
#F {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    // z-index: 32;
    .u & {
        opacity: 0;
    }

    .d & {
        opacity: 0.5;
    }
}