body {
    overflow: hidden;
    perspective: 300vh;
    height: 100vh;
}

* {
    margin: 0;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
}

// The flip container
#Z {
    height: 50vh;
    top: 50vh;
    transform-origin: top;
    .u & {
        transform: rotateX(180deg);
    }

    .d & {
        transform: rotateX(0deg);
    }
}


// Cards

b {
    height: 50vh;
    background: url(mockpage.png) 100%;
}

// Card A
#u {

}

// Card B
#d {

}

// Card C
#t {
    transform: rotateX(180deg);
}

// Card D
#x {
    top: 50vh;
}

//
// the overlays
//

// all overlays
i {
    height: 100%;
    background: black;
    opacity: 0;
}

.t i, .t #Z {
    transition: .5s
}

.d #H, .u #E {
    opacity: .5
}

// Overlay C
#F {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0));
}

// Overlay B
#G {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));
}